
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ice Ice Baby</title>
    <link rel="stylesheet" href="/src/css/style.css">
    <link rel="stylesheet" href="/src/css/deskmain.css">
    <style></style>
    <link rel="icon" href="/src/assets/img/favicon.png"/>
    <link rel="apple-touch-icon" href="/src/assets/img/favicon.png"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap" rel="stylesheet">
</head>

<body>
    <div id="page">
        <header>
            <div id="logo">
                <img src="/src/assets/img/Ice_Ice_Baby_Logo.png" alt="logo" height="50">
            </div>
            <div class="name">Ice Ice Baby Desk</div><!--requirement: 큰화면일때만 표시-->
            <nav>
                <ul class="nav nav-pills">
                    <li class="nav-item">
                      <a class="nav-link" href="/src/templates/deskmain.html">Ordered</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link active" aria-current="page" href="/src/templates/deskcomplete.html">Completed</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/src/templates/deskreceived.html">Received</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="/src/templates/deskcoupon.html">Coupon</a>
                    </li>
                </ul>
            </nav>
        </header>

        <main>
            <div class="card completed">
                <div class="card-header">
                    <!--<div class="row info">
                        <div class="col-7"><div class="row">
                            <div class="col col-5 infocol" id="infoid">ID: 123</div>
                            <div class="col col-7 infocol" id="infop">Price: ¥xxx</div>
                            <div class="col col-12 infocol" id="infot">Time: 2024.06.14. 01:01</div>
                        </div></div>
                        <div class="col col-2 infocol" id="infopaid"><div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="paiedCheck">
                            <label class="form-check-label" for="paiedCheck">
                                Paied
                            </label>
                            </div></div>
                        <div class="col col-3 infocol" id="infocompleted">
                            <button type="button" class="btn btn-secondary btn-sm">Completed</button>
                        </div>
                    </div>-->
                    <div id="infoi">ID: 123</div>
                    <div id="infod">Desk: 123</div>
                    <div id="infot">Ordered Time: 2024.06.14. 01:01</div>
                    <div id="infot2">Completed Time: 2024.06.14. 01:01</div>
                    <div id="inforeceived">
                        <button type="button" class="btn btn-secondary btn-sm">Received</button>
                    </div>
                </div>
            </div>
        </main>

        <footer>
        </footer>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>
