<main> 
    <form action="login.html" id="signup">
        <table id="jointable">
        <tr>
            <td><h2>Create Account</h2></td>
        </tr>
        <tr><td>ID</td></tr>
        <tr><td><input type="text" class="text"></td></tr>
        <tr><td>Password</td></tr>
        <tr><td><input type="password" class="text"></td></tr>
        <tr><td>비밀번호 확인</td></tr>
        <tr><td><input type="password" class="text"></td></tr>
        <tr><td id="joinsubmit"><input type="submit" value="Create Account" class="btn" onclick="alert('Signed up!')"></td></tr>
        </table>
    </form>
</main>