<main> 
    <form action="index.html" id="signin">
        <table id="logintable">
            <tr>
                <td><h2>Login</h2></td>
            </tr>
            <tr>
                <td id="logintext"><input type="text" placeholder="ID"></td>
            </tr>
            <tr>
                <td id="loginpassword"><input type="password" placeholder=Password></td>
            </tr>
            <tr>
                <td id="logincheckbox"><input type="checkbox"> Remember my account</td>
            </tr>
            <tr>
                <td id="loginsubmit"><input type="submit" value="Sign in" class="btn" onclick="alert('Signed in!')"></td>
            </tr>
            <tr>
                <td class="join"><a href="join.html">Create Account</a></td>
            </tr>
        </table>
    </form>
</main>