<main>
    <!--메뉴 선택 표시-->
    <div class="row row-cols-1 row-cols-md-2 menucards">
        <!--세트메뉴 표시-->
        <div class="col combocards">
            <div class="category">Combo Menu</div>
            <div class="row row-cols-2 row-cols-xl-3">
                <!--baby ice 표시 칸-->
                <div class="col"><div class="card combocard" style="height:95px">
                    <h5 class="card-header">Baby Ice</h5>
                    <div class="card-body">
                        <div class="card-title combocard-title">
                            <h6>1 Ice cream</h6>
                            <h6>1 Topping</h6>
                        </div>
                        <p class="card-text combocard-text">¥10</p>
                        <!--메뉴 추가 칸(babyIceAdd)으로-->
                        <a class="btn btn-primary btn-sm" data-bs-toggle="offcanvas" href="#babyIceAdd" role="button" aria-controls="offcanvasBabyIce">
                            +
                        </a>
                        </div>
                </div></div>
                <!--ice ice baby 표시 칸-->
                <div class="col"><div class="card combocard" style="height:95px">
                    <h5 class="card-header">Ice Ice Baby</h5>
                    <div class="card-body">
                        <div class="card-title combocard-title">
                            <h6>2 Ice cream</h6>
                            <h6>2 Toppings</h6>
                        </div>
                        <p class="card-text combocard-text">¥20</p>
                        <!--메뉴 추가 칸(iceIceBabyAdd)으로-->
                        <a class="btn btn-primary btn-sm" data-bs-toggle="offcanvas" href="#iceIceBabyAdd" role="button" aria-controls="offcanvasIceIceBaby">
                            +
                        </a>
                    </div>
                </div></div>
                <!--ice waffle baby 표시 칸-->
                <div class="col"><div class="card combocard" style="height:95px">
                    <h5 class="card-header">Ice Waffle Baby</h5>
                    <div class="card-body">
                        <div class="card-title combocard-title">
                            <h6>2 Ice cream</h6>
                            <h6>2 Toppings</h6>
                            <h6>Waffle</h6>
                        </div>
                        <p class="card-text combocard-text">¥32</p>
                        <!--메뉴 추가 칸(iceWaffleBabyAdd)으로-->
                        <a class="btn btn-primary btn-sm" data-bs-toggle="offcanvas" href="#iceWaffleBabyAdd" role="button" aria-controls="offcanvasIceWaffleBaby">
                            +
                        </a>
                    </div>
                </div></div>
                <!--ice affogato baby 표시 칸-->
                <div class="col"><div class="card combocard" style="height:95px">
                    <h5 class="card-header">Ice Affogato Baby</h5>
                    <div class="card-body">
                        <div class="card-title combocard-title">
                            <h6>1 Ice cream</h6>
                            <h6>2 Toppings</h6>
                            <h6>Coffee</h6>
                        </div>
                        <p class="card-text combocard-text">¥18</p>
                        <!--메뉴 추가 칸(iceAffogatoBabyAdd)으로-->
                        <a class="btn btn-primary btn-sm" data-bs-toggle="offcanvas" href="#iceAffogatoBabyAdd" role="button" aria-controls="offcanvasIceAffogatoBaby">
                            +
                        </a>
                    </div>
                </div></div>
                <!--big ice baby 표시 칸-->
                <div class="col"><div class="card combocard" style="height:95px">
                    <h5 class="card-header">Big Ice Baby</h5>
                    <div class="card-body">
                        <div class="card-title combocard-title">
                            <h6>3 Ice cream</h6>
                            <h6>3 Toppings</h6>
                        </div>
                        <p class="card-text combocard-text">¥30</p>
                        <!--메뉴 추가 칸(bigIceBabyAdd)으로-->
                        <a class="btn btn-primary btn-sm" data-bs-toggle="offcanvas" href="#bigIceBabyAdd" role="button" aria-controls="offcanvasbigIceBaby">
                            +
                        </a>
                    </div>
                </div></div>
            </div>
        </div>
        <!--추가 메뉴 표시-->
        <div class="col alacards">
            <div class="category">Ala Carte</div>
            <div class="row row-cols-2 row-cols-xl-4">
                <!--아이스크림 표시 칸-->
                <div class="col"><div class="card alacard">
                    <div class="card-body">
                        <div class="card-title alacard-title">
                            <h6>Extra Ice Cream</h6>
                        </div>
                        <p class="card-text alacard-text">¥9</p>
                        <!--메뉴 추가 칸(iceAdd)으로-->
                        <a class="btn btn-primary btn-sm" data-bs-toggle="offcanvas" href="#iceAdd" role="button" aria-controls="offcanvasIce">
                            +
                        </a>
                    </div>
                </div></div>
                <!--토핑 표시 칸-->
                <div class="col"><div class="card alacard">
                    <div class="card-body">
                        <div class="card-title alacard-title">
                            <h6>Extra Topping</h6>
                        </div>
                        <p class="card-text alacard-text">¥3</p>
                        <!--메뉴 추가 칸(topAdd)으로-->
                        <a class="btn btn-primary btn-sm" data-bs-toggle="offcanvas" href="#topAdd" role="button" aria-controls="offcanvasTop">
                            +
                        </a>
                    </div>
                </div></div>
                <!--커피 표시 칸-->
                <div class="col"><div class="card alacard">
                    <div class="card-body">
                        <div class="card-title alacard-title">
                            <h6>Coffee</h6>
                        </div>
                        <p class="card-text alacard-text">¥8</p>
                        <!--메뉴 추가 칸(coffeeAdd)으로-->
                        <a class="btn btn-primary btn-sm" data-bs-toggle="offcanvas" href="#coffeeAdd" role="button" aria-controls="offcanvasCoffee">
                            +
                        </a>
                    </div>
                </div></div>
                <!--물 표시 칸-->
                <div class="col"><div class="card alacard">
                    <div class="card-body">
                        <div class="card-title alacard-title">
                            <h6>Water</h6>
                        </div>
                        <p class="card-text alacard-text">¥2</p>
                        <!--메뉴 추가 칸(waterAdd)으로-->
                        <a class="btn btn-primary btn-sm" data-bs-toggle="offcanvas" href="#waterAdd" role="button" aria-controls="offcanvasWater">
                            +
                        </a>
                    </div>
                </div></div>
            </div>
        </div>
    </div>

    <!--메뉴 추가 표시-->
    <!--baby ice 추가 칸-->
    <div class="offcanvas offcanvas-start" tabindex="-1" id="babyIceAdd" aria-labelledby="babyIceLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="babyIceLabel">Baby Ice</h5>
          <h6 class="offcanvas-price">¥price</h6><!--가격 표시 : ¥기본 가격(10) + 추가 가격(extra ice cream*9 + extra topping*3)-->
          <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <!--기본 메뉴-->
            <form class="was-validated"><div class="combomain">
                <div class="flavor">
                    <h6>1 Ice cream</h6>
                    <div class="input-group mb-3">
                        <label class="input-group-text" for="flavor1">Flavor</label>
                        <select class="form-select" id="flavor1" required>
                            <option selected disabled value="">Choose..</option>
                            <option value="1">Vanilla</option>
                            <option value="2">Chocolate</option>
                            <option value="3">Strawberry</option>
                        </select>
                    </div>
                </div>
                <div class="topping">
                    <h6>1 Topping</h6>
                    <div class="input-group mb-3">
                        <label class="input-group-text" for="topping1">Type</label>
                        <select class="form-select" id="topping1" required>
                            <option selected disabled value="">Choose..</option>
                            <option value="1">Oreos</option>
                            <option value="2">Sprinkle</option>
                            <option value="3">Fudge Syrup</option>
                            <option value="4">Caramel Syrup</option>
                            <option value="5">Waffle Bit</option>
                            <option value="6">Waffle Cone</option>
                            <option value="7">Whipped Topping</option>
                        </select>
                    </div>
                </div>
            </div>
            <!--클릭 시 cartcard에 형식(이름, 구성, 각 구성의 수량, 가격) 맞춰서 추가-->
            <button class="btn btn-info addcart" type="submit">Add to Cart</button>
            </form>

            <!--추가 메뉴-->
            <div class="comboala">
                <h6>Ala Carte</h6>
                <div class="accordion" id="accordionice">
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseice" aria-expanded="false" aria-controls="collapseice">
                                Extra Ice Cream
                            </button>
                        </h2>
                        <div id="collapseice" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <div class="alaice">
                                <div class="input-group mb-3 alaice1">
                                    <label class="input-group-text" for="alafalvor1">Vanila</label>
                                    <input type="number" class="form-control" min="0" step="1" value="0" id="alafalvor1">
                                </div>
                                <div class="input-group mb-3 alaice2">
                                    <label class="input-group-text" for="alafalvor2">Chocolate</label>
                                    <input type="number" class="form-control" min="0" step="1" value="0" id="alafalvor2">
                                </div>
                                <div class="input-group mb-3 alaice3">
                                    <label class="input-group-text" for="alafalvor3">Strawberry</label>
                                    <input type="number" class="form-control" min="0" step="1" value="0" id="alafalvor3">
                                </div>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>

                <div class="accordion" id="accordiontop">
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapsetop" aria-expanded="false" aria-controls="collapsetop">
                                Extra Topping
                            </button>
                        </h2>
                        <div id="collapsetop" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <div class="alatop">
                                <div class="input-group mb-3 alatopping1">
                                    <label class="input-group-text" for="alatop1">Oreos</label>
                                    <input type="number" class="form-control" min="0" step="1" value="0" id="alatop1">
                                </div>
                                <div class="input-group mb-3 alatopping2">
                                    <label class="input-group-text" for="alatop2">Sprinkle</label>
                                    <input type="number" class="form-control" min="0" step="1" value="0" id="alatop2">
                                </div>
                                <div class="input-group mb-3 alatopping3">
                                    <label class="input-group-text" for="alatop3">Fudge Syrup</label>
                                    <input type="number" class="form-control" min="0" step="1" value="0" id="alatop3">
                                </div>
                                <div class="input-group mb-3 alatopping4">
                                    <label class="input-group-text" for="alatop4">Caramel Syrup</label>
                                    <input type="number" class="form-control" min="0" step="1" value="0" id="alatop4">
                                </div>
                                <div class="input-group mb-3 alatopping5">
                                    <label class="input-group-text" for="alatop5">Waffle Bit</label>
                                    <input type="number" class="form-control" min="0" step="1" value="0" id="alatop5">
                                </div>
                                <div class="input-group mb-3 alatopping6">
                                    <label class="input-group-text" for="alatop6">Waffle Cone</label>
                                    <input type="number" class="form-control" min="0" step="1" value="0" id="alatop6">
                                </div>
                                <div class="input-group mb-3 alatopping7">
                                    <label class="input-group-text" for="alatop7">Whipped Topping</label>
                                    <input type="number" class="form-control" min="0" step="1" value="0" id="alatop7">
                                </div>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--ice ice baby 추가 칸-->
    <div class="offcanvas offcanvas-start" tabindex="-1" id="iceIceBabyAdd" aria-labelledby="iceIceBabyLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="iceIceBabyLabel">Ice Ice Baby</h5>
          <h6 class="offcanvas-price">¥price</h6><!--가격 표시 : ¥기본 가격(20) + 추가 가격(extra ice cream*9 + extra topping*3)-->
          <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <!--기본 메뉴-->
            <form class="was-validated"><div class="combomain">
                <div class="flavor">
                    <h6>2 Ice cream</h6>
                    <div class="input-group mb-3">
                        <label class="input-group-text" for="flavor1">Flavor1</label>
                        <select class="form-select" id="flavor1" required>
                            <option selected disabled value="">Choose..</option>
                            <option value="1">Vanilla</option>
                            <option value="2">Chocolate</option>
                            <option value="3">Strawberry</option>
                        </select>
                    </div>
                    <div class="input-group mb-3">
                        <label class="input-group-text" for="flavor2">Flavor2</label>
                        <select class="form-select" id="flavor2" required>
                            <option selected disabled value="">Choose..</option>
                            <option value="1">Vanilla</option>
                            <option value="2">Chocolate</option>
                            <option value="3">Strawberry</option>
                        </select>
                    </div>
                </div>
                <div class="topping">
                    <h6>2 Toppings</h6>
                    <div class="input-group mb-3">
                        <label class="input-group-text" for="topping1">Type1</label>
                        <select class="form-select" id="topping1" required>
                            <option selected disabled value="">Choose..</option>
                            <option value="1">Oreos</option>
                            <option value="2">Sprinkle</option>
                            <option value="3">Fudge Syrup</option>
                            <option value="4">Caramel Syrup</option>
                            <option value="5">Waffle Bit</option>
                            <option value="6">Waffle Cone</option>
                            <option value="7">Whipped Topping</option>
                        </select>
                    </div>
                    <div class="input-group mb-3">
                        <label class="input-group-text" for="topping2">Type2</label>
                        <select class="form-select" id="topping2" required>
                            <option selected disabled value="">Choose..</option>
                            <option value="1">Oreos</option>
                            <option value="2">Sprinkle</option>
                            <option value="3">Fudge Syrup</option>
                            <option value="4">Caramel Syrup</option>
                            <option value="5">Waffle Bit</option>
                            <option value="6">Waffle Cone</option>
                            <option value="7">Whipped Topping</option>
                        </select>
                    </div>
                </div>
            </div>
            <!--클릭 시 cartcard에 형식(이름, 구성, 각 구성의 수량, 가격) 맞춰서 추가-->
            <button class="btn btn-info addcart" type="submit">Add to Cart</button>
            </form>

            <!--추가 메뉴-->
            <div class="comboala">
                <h6>Ala Carte</h6>
                <div class="accordion" id="accordionice">
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseicei" aria-expanded="false" aria-controls="collapseicei">
                                Extra Ice Cream
                            </button>
                        </h2>
                        <div id="collapseicei" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <div class="alaice">
                                <div class="input-group mb-3 alaice1">
                                    <label class="input-group-text" for="alafalvor1">Vanila</label>
                                    <input type="number" class="form-control" min="0" step="1" value="0" id="alafalvor1">
                                </div>
                                <div class="input-group mb-3 alaice2">
                                    <label class="input-group-text" for="alafalvor2">Chocolate</label>
                                    <input type="number" class="form-control" min="0" step="1" value="0" id="alafalvor2">
                                </div>
                                <div class="input-group mb-3 alaice3">
                                    <label class="input-group-text" for="alafalvor3">Strawberry</label>
                                    <input type="number" class="form-control" min="0" step="1" value="0" id="alafalvor3">
                                </div>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>

                <div class="accordion" id="accordiontop">
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapsetopi" aria-expanded="false" aria-controls="collapsetopi">
                                Extra Topping
                            </button>
                        </h2>
                        <div id="collapsetopi" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <div class="alatop">
                                <div class="input-group mb-3 alatopping1">
                                    <label class="input-group-text" for="alatop1">Oreos</label>
                                    <input type="number" class="form-control" min="0" step="1" value="0" id="alatop1">
                                </div>
                                <div class="input-group mb-3 alatopping2">
                                    <label class="input-group-text" for="alatop2">Sprinkle</label>
                                    <input type="number" class="form-control" min="0" step="1" value="0" id="alatop2">
                                </div>
                                <div class="input-group mb-3 alatopping3">
                                    <label class="input-group-text" for="alatop3">Fudge Syrup</label>
                                    <input type="number" class="form-control" min="0" step="1" value="0" id="alatop3">
                                </div>
                                <div class="input-group mb-3 alatopping4">
                                    <label class="input-group-text" for="alatop4">Caramel Syrup</label>
                                    <input type="number" class="form-control" min="0" step="1" value="0" id="alatop4">
                                </div>
                                <div class="input-group mb-3 alatopping5">
                                    <label class="input-group-text" for="alatop5">Waffle Bit</label>
                                    <input type="number" class="form-control" min="0" step="1" value="0" id="alatop5">
                                </div>
                                <div class="input-group mb-3 alatopping6">
                                    <label class="input-group-text" for="alatop6">Waffle Cone</label>
                                    <input type="number" class="form-control" min="0" step="1" value="0" id="alatop6">
                                </div>
                                <div class="input-group mb-3 alatopping7">
                                    <label class="input-group-text" for="alatop7">Whipped Topping</label>
                                    <input type="number" class="form-control" min="0" step="1" value="0" id="alatop7">
                                </div>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--ice waffle baby 추가 칸-->
    <div class="offcanvas offcanvas-start" tabindex="-1" id="iceWaffleBabyAdd" aria-labelledby="iceWaffleBabyLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="iceWaffleBabyLabel">Ice Waffle Baby</h5>
          <h6 class="offcanvas-price">¥price</h6><!--가격 표시 : ¥기본 가격(32) + 추가 가격(extra ice cream*9 + extra topping*3)-->
          <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <!--기본 메뉴-->
            <form class="was-validated"><div class="combomain">
                <div class="flavor">
                    <h6>2 Ice cream</h6>
                    <div class="input-group mb-3">
                        <label class="input-group-text" for="flavor1">Flavor1</label>
                        <select class="form-select" id="flavor1" required>
                            <option selected disabled value="">Choose..</option>
                            <option value="1">Vanilla</option>
                            <option value="2">Chocolate</option>
                            <option value="3">Strawberry</option>
                        </select>
                    </div>
                    <div class="input-group mb-3">
                        <label class="input-group-text" for="flavor2">Flavor2</label>
                        <select class="form-select" id="flavor2" required>
                            <option selected disabled value="">Choose..</option>
                            <option value="1">Vanilla</option>
                            <option value="2">Chocolate</option>
                            <option value="3">Strawberry</option>
                        </select>
                    </div>
                </div>
                <div class="topping">
                    <h6>2 Toppings</h6>
                    <div class="input-group mb-3">
                        <label class="input-group-text" for="topping1">Type1</label>
                        <select class="form-select" id="topping1" required>
                            <option selected disabled value="">Choose..</option>
                            <option value="1">Oreos</option>
                            <option value="2">Sprinkle</option>
                            <option value="3">Fudge Syrup</option>
                            <option value="4">Caramel Syrup</option>
                            <option value="5">Waffle Bit</option>
                            <option value="6">Waffle Cone</option>
                            <option value="7">Whipped Topping</option>
                        </select>
                    </div>
                    <div class="input-group mb-3">
                        <label class="input-group-text" for="topping2">Type2</label>
                        <select class="form-select" id="topping2" required>
                            <option selected disabled value="">Choose..</option>
                            <option value="1">Oreos</option>
                            <option value="2">Sprinkle</option>
                            <option value="3">Fudge Syrup</option>
                            <option value="4">Caramel Syrup</option>
                            <option value="5">Waffle Bit</option>
                            <option value="6">Waffle Cone</option>
                            <option value="7">Whipped Topping</option>
                        </select>
                    </div>
                </div>
                <div class="waffle">
                    <h6>Waffle</h6>
                </div>
            </div>
            <!--클릭 시 cartcard에 형식(이름, 구성, 각 구성의 수량, 가격) 맞춰서 추가-->
            <button class="btn btn-info addcart" type="submit">Add to Cart</button>
            </form>

            <!--추가 메뉴-->
            <div class="comboala">
                <h6>Ala Carte</h6>
                <div class="accordion" id="accordionice">
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseicew" aria-expanded="false" aria-controls="collapseicew">
                                Extra Ice Cream
                            </button>
                        </h2>
                        <div id="collapseicew" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <div class="alaice">
                                <div class="input-group mb-3 alaice1">
                                    <label class="input-group-text" for="alafalvor1">Vanila</label>
                                    <input type="number" class="form-control" min="0" step="1" value="0" id="alafalvor1">
                                </div>
                                <div class="input-group mb-3 alaice2">
                                    <label class="input-group-text" for="alafalvor2">Chocolate</label>
                                    <input type="number" class="form-control" min="0" step="1" value="0" id="alafalvor2">
                                </div>
                                <div class="input-group mb-3 alaice3">
                                    <label class="input-group-text" for="alafalvor3">Strawberry</label>
                                    <input type="number" class="form-control" min="0" step="1" value="0" id="alafalvor3">
                                </div>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>

                <div class="accordion" id="accordiontop">
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapsetopw" aria-expanded="false" aria-controls="collapsetopw">
                                Extra Topping
                            </button>
                        </h2>
                        <div id="collapsetopw" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <div class="alatop">
                                <div class="input-group mb-3 alatopping1">
                                    <label class="input-group-text" for="alatop1">Oreos</label>
                                    <input type="number" class="form-control" min="0" step="1" value="0" id="alatop1">
                                </div>
                                <div class="input-group mb-3 alatopping2">
                                    <label class="input-group-text" for="alatop2">Sprinkle</label>
                                    <input type="number" class="form-control" min="0" step="1" value="0" id="alatop2">
                                </div>
                                <div class="input-group mb-3 alatopping3">
                                    <label class="input-group-text" for="alatop3">Fudge Syrup</label>
                                    <input type="number" class="form-control" min="0" step="1" value="0" id="alatop3">
                                </div>
                                <div class="input-group mb-3 alatopping4">
                                    <label class="input-group-text" for="alatop4">Caramel Syrup</label>
                                    <input type="number" class="form-control" min="0" step="1" value="0" id="alatop4">
                                </div>
                                <div class="input-group mb-3 alatopping5">
                                    <label class="input-group-text" for="alatop5">Waffle Bit</label>
                                    <input type="number" class="form-control" min="0" step="1" value="0" id="alatop5">
                                </div>
                                <div class="input-group mb-3 alatopping6">
                                    <label class="input-group-text" for="alatop6">Waffle Cone</label>
                                    <input type="number" class="form-control" min="0" step="1" value="0" id="alatop6">
                                </div>
                                <div class="input-group mb-3 alatopping7">
                                    <label class="input-group-text" for="alatop7">Whipped Topping</label>
                                    <input type="number" class="form-control" min="0" step="1" value="0" id="alatop7">
                                </div>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--ice affogato baby 추가 칸-->
    <div class="offcanvas offcanvas-start" tabindex="-1" id="iceAffogatoBabyAdd" aria-labelledby="iceAffogatoBabyLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="iceAffogatoBabyLabel">Ice Affogato Baby</h5>
          <h6 class="offcanvas-price">¥price</h6><!--가격 표시 : ¥기본 가격(18) + 추가 가격(extra ice cream*9 + extra topping*3)-->
          <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <!--기본 메뉴-->
            <form class="was-validated"><div class="combomain">
                <div class="flavor">
                    <h6>1 Ice cream</h6>
                    <div class="input-group mb-3">
                        <label class="input-group-text" for="flavor1">Flavor</label>
                        <select class="form-select" id="flavor1" required>
                            <option selected disabled value="">Choose..</option>
                            <option value="1">Vanilla</option>
                            <option value="2">Chocolate</option>
                            <option value="3">Strawberry</option>
                        </select>
                    </div>
                </div>
                <div class="topping">
                    <h6>2 Toppings</h6>
                    <div class="input-group mb-3">
                        <label class="input-group-text" for="topping1">Type1</label>
                        <select class="form-select" id="topping1" required>
                            <option selected disabled value="">Choose..</option>
                            <option value="1">Oreos</option>
                            <option value="2">Sprinkle</option>
                            <option value="3">Fudge Syrup</option>
                            <option value="4">Caramel Syrup</option>
                            <option value="5">Waffle Bit</option>
                            <option value="6">Waffle Cone</option>
                            <option value="7">Whipped Topping</option>
                        </select>
                    </div>
                    <div class="input-group mb-3">
                        <label class="input-group-text" for="topping2">Type2</label>
                        <select class="form-select" id="topping2" required>
                            <option selected disabled value="">Choose..</option>
                            <option value="1">Oreos</option>
                            <option value="2">Sprinkle</option>
                            <option value="3">Fudge Syrup</option>
                            <option value="4">Caramel Syrup</option>
                            <option value="5">Waffle Bit</option>
                            <option value="6">Waffle Cone</option>
                            <option value="7">Whipped Topping</option>
                        </select>
                    </div>
                    <div class="coffee">
                        <h6>Coffee</h6>
                    </div>
                </div>
            </div>
            <!--클릭 시 cartcard에 형식(이름, 구성, 각 구성의 수량, 가격) 맞춰서 추가-->
            <button class="btn btn-info addcart" type="submit">Add to Cart</button>
            </form>
            
            <!--추가 메뉴-->
            <div class="comboala">
                <h6>Ala Carte</h6>
                <div class="accordion" id="accordionice">
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseicec" aria-expanded="false" aria-controls="collapseicec">
                                Extra Ice Cream
                            </button>
                        </h2>
                        <div id="collapseicec" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <div class="alaice">
                                <div class="input-group mb-3 alaice1">
                                    <label class="input-group-text" for="alafalvor1">Vanila</label>
                                    <input type="number" class="form-control" min="0" step="1" value="0" id="alafalvor1">
                                </div>
                                <div class="input-group mb-3 alaice2">
                                    <label class="input-group-text" for="alafalvor2">Chocolate</label>
                                    <input type="number" class="form-control" min="0" step="1" value="0" id="alafalvor2">
                                </div>
                                <div class="input-group mb-3 alaice3">
                                    <label class="input-group-text" for="alafalvor3">Strawberry</label>
                                    <input type="number" class="form-control" min="0" step="1" value="0" id="alafalvor3">
                                </div>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>

                <div class="accordion" id="accordiontop">
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapsetopc" aria-expanded="false" aria-controls="collapsetopc">
                                Extra Topping
                            </button>
                        </h2>
                        <div id="collapsetopc" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <div class="alatop">
                                <div class="input-group mb-3 alatopping1">
                                    <label class="input-group-text" for="alatop1">Oreos</label>
                                    <input type="number" class="form-control" min="0" step="1" value="0" id="alatop1">
                                </div>
                                <div class="input-group mb-3 alatopping2">
                                    <label class="input-group-text" for="alatop2">Sprinkle</label>
                                    <input type="number" class="form-control" min="0" step="1" value="0" id="alatop2">
                                </div>
                                <div class="input-group mb-3 alatopping3">
                                    <label class="input-group-text" for="alatop3">Fudge Syrup</label>
                                    <input type="number" class="form-control" min="0" step="1" value="0" id="alatop3">
                                </div>
                                <div class="input-group mb-3 alatopping4">
                                    <label class="input-group-text" for="alatop4">Caramel Syrup</label>
                                    <input type="number" class="form-control" min="0" step="1" value="0" id="alatop4">
                                </div>
                                <div class="input-group mb-3 alatopping5">
                                    <label class="input-group-text" for="alatop5">Waffle Bit</label>
                                    <input type="number" class="form-control" min="0" step="1" value="0" id="alatop5">
                                </div>
                                <div class="input-group mb-3 alatopping6">
                                    <label class="input-group-text" for="alatop6">Waffle Cone</label>
                                    <input type="number" class="form-control" min="0" step="1" value="0" id="alatop6">
                                </div>
                                <div class="input-group mb-3 alatopping7">
                                    <label class="input-group-text" for="alatop7">Whipped Topping</label>
                                    <input type="number" class="form-control" min="0" step="1" value="0" id="alatop7">
                                </div>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--big ice baby 추가 칸-->
    <div class="offcanvas offcanvas-start" tabindex="-1" id="bigIceBabyAdd" aria-labelledby="bigIceBabyLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="bigIceBabyLabel">Big Ice Baby</h5>
          <h6 class="offcanvas-price">¥price</h6><!--가격 표시 : ¥기본 가격(30) + 추가 가격(extra ice cream*9 + extra topping*3)-->
          <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <!--기본 메뉴-->
            <form class="was-validated"><div class="combomain">
                <div class="flavor">
                    <h6>3 Ice cream</h6>
                    <div class="input-group mb-3">
                        <label class="input-group-text" for="flavor1">Flavor1</label>
                        <select class="form-select" id="flavor1" required>
                            <option selected disabled value="">Choose..</option>
                            <option value="1">Vanilla</option>
                            <option value="2">Chocolate</option>
                            <option value="3">Strawberry</option>
                        </select>
                    </div>
                    <div class="input-group mb-3">
                        <label class="input-group-text" for="flavor2">Flavor2</label>
                        <select class="form-select" id="flavor2" required>
                            <option selected disabled value="">Choose..</option>
                            <option value="1">Vanilla</option>
                            <option value="2">Chocolate</option>
                            <option value="3">Strawberry</option>
                        </select>
                    </div>
                    <div class="input-group mb-3">
                        <label class="input-group-text" for="flavor3">Flavor3</label>
                        <select class="form-select" id="flavor3" required>
                            <option selected disabled value="">Choose..</option>
                            <option value="1">Vanilla</option>
                            <option value="2">Chocolate</option>
                            <option value="3">Strawberry</option>
                        </select>
                    </div>
                </div>
                <div class="topping">
                    <h6>3 Toppings</h6>
                    <div class="input-group mb-3">
                        <label class="input-group-text" for="topping1">Type1</label>
                        <select class="form-select" id="topping1" required>
                            <option selected disabled value="">Choose..</option>
                            <option value="1">Oreos</option>
                            <option value="2">Sprinkle</option>
                            <option value="3">Fudge Syrup</option>
                            <option value="4">Caramel Syrup</option>
                            <option value="5">Waffle Bit</option>
                            <option value="6">Waffle Cone</option>
                            <option value="7">Whipped Topping</option>
                        </select>
                    </div>
                    <div class="input-group mb-3">
                        <label class="input-group-text" for="topping2">Type2</label>
                        <select class="form-select" id="topping2" required>
                            <option selected disabled value="">Choose..</option>
                            <option value="1">Oreos</option>
                            <option value="2">Sprinkle</option>
                            <option value="3">Fudge Syrup</option>
                            <option value="4">Caramel Syrup</option>
                            <option value="5">Waffle Bit</option>
                            <option value="6">Waffle Cone</option>
                            <option value="7">Whipped Topping</option>
                        </select>
                    </div>
                    <div class="input-group mb-3">
                        <label class="input-group-text" for="topping3">Type3</label>
                        <select class="form-select" id="topping3" required>
                            <option selected disabled value="">Choose..</option>
                            <option value="1">Oreos</option>
                            <option value="2">Sprinkle</option>
                            <option value="3">Fudge Syrup</option>
                            <option value="4">Caramel Syrup</option>
                            <option value="5">Waffle Bit</option>
                            <option value="6">Waffle Cone</option>
                            <option value="7">Whipped Topping</option>
                        </select>
                    </div>
                </div>
            </div>
            <!--클릭 시 cartcard에 형식(이름, 구성, 각 구성의 수량, 가격) 맞춰서 추가-->
            <button class="btn btn-info addcart" type="submit">Add to Cart</button>
            </form>

            <!--추가 메뉴-->
            <div class="comboala">
                <h6>Ala Carte</h6>
                <div class="accordion" id="accordionice">
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseiceb" aria-expanded="false" aria-controls="collapseiceb">
                                Extra Ice Cream
                            </button>
                        </h2>
                        <div id="collapseiceb" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <div class="alaice">
                                <div class="input-group mb-3 alaice1">
                                    <label class="input-group-text" for="alafalvor1">Vanila</label>
                                    <input type="number" class="form-control" min="0" step="1" value="0" id="alafalvor1">
                                </div>
                                <div class="input-group mb-3 alaice2">
                                    <label class="input-group-text" for="alafalvor2">Chocolate</label>
                                    <input type="number" class="form-control" min="0" step="1" value="0" id="alafalvor2">
                                </div>
                                <div class="input-group mb-3 alaice3">
                                    <label class="input-group-text" for="alafalvor3">Strawberry</label>
                                    <input type="number" class="form-control" min="0" step="1" value="0" id="alafalvor3">
                                </div>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>

                <div class="accordion" id="accordiontop">
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapsetopb" aria-expanded="false" aria-controls="collapsetopb">
                                Extra Topping
                            </button>
                        </h2>
                        <div id="collapsetopb" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <div class="alatop">
                                <div class="input-group mb-3 alatopping1">
                                    <label class="input-group-text" for="alatop1">Oreos</label>
                                    <input type="number" class="form-control" min="0" step="1" value="0" id="alatop1">
                                </div>
                                <div class="input-group mb-3 alatopping2">
                                    <label class="input-group-text" for="alatop2">Sprinkle</label>
                                    <input type="number" class="form-control" min="0" step="1" value="0" id="alatop2">
                                </div>
                                <div class="input-group mb-3 alatopping3">
                                    <label class="input-group-text" for="alatop3">Fudge Syrup</label>
                                    <input type="number" class="form-control" min="0" step="1" value="0" id="alatop3">
                                </div>
                                <div class="input-group mb-3 alatopping4">
                                    <label class="input-group-text" for="alatop4">Caramel Syrup</label>
                                    <input type="number" class="form-control" min="0" step="1" value="0" id="alatop4">
                                </div>
                                <div class="input-group mb-3 alatopping5">
                                    <label class="input-group-text" for="alatop5">Waffle Bit</label>
                                    <input type="number" class="form-control" min="0" step="1" value="0" id="alatop5">
                                </div>
                                <div class="input-group mb-3 alatopping6">
                                    <label class="input-group-text" for="alatop6">Waffle Cone</label>
                                    <input type="number" class="form-control" min="0" step="1" value="0" id="alatop6">
                                </div>
                                <div class="input-group mb-3 alatopping7">
                                    <label class="input-group-text" for="alatop7">Whipped Topping</label>
                                    <input type="number" class="form-control" min="0" step="1" value="0" id="alatop7">
                                </div>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--Extra Ice Cream 추가 칸-->
    <div class="offcanvas offcanvas-start" tabindex="-1" id="iceAdd" aria-labelledby="iceLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="iceLabel">Extra Ice Cream</h5>
          <h6 class="offcanvas-price">¥price</h6><!--가격 표시 : ¥기본 가격(extra ice cream*9) + 추가 가격(extra topping*3)-->
          <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <!--기본 메뉴-->
            <div class="alaice">
                <div class="input-group mb-3 alaice1">
                    <label class="input-group-text" for="alafalvor1">Vanila</label>
                    <input type="number" class="form-control" min="0" step="1" value="0" id="alafalvor1">
                </div>
                <div class="input-group mb-3 alaice2">
                    <label class="input-group-text" for="alafalvor2">Chocolate</label>
                    <input type="number" class="form-control" min="0" step="1" value="0" id="alafalvor2">
                </div>
                <div class="input-group mb-3 alaice3">
                    <label class="input-group-text" for="alafalvor3">Strawberry</label>
                    <input type="number" class="form-control" min="0" step="1" value="0" id="alafalvor3">
                </div>
            </div>
            <!--클릭 시 cartcard에 형식(이름, 구성, 각 구성의 수량, 가격) 맞춰서 추가-->
            <button class="btn btn-info addcart" type="button">Add to Cart</button>

            <!--추가 메뉴-->
            <div class="comboala">
                <h6>Ala Carte</h6>
                <div class="accordion" id="accordiontop">
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapsetopai" aria-expanded="false" aria-controls="collapsetopai">
                                Extra Topping
                            </button>
                        </h2>
                        <div id="collapsetopai" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <div class="alatop">
                                <div class="input-group mb-3 alatopping1">
                                    <label class="input-group-text" for="alatop1">Oreos</label>
                                    <input type="number" class="form-control" min="0" step="1" value="0" id="alatop1">
                                </div>
                                <div class="input-group mb-3 alatopping2">
                                    <label class="input-group-text" for="alatop2">Sprinkle</label>
                                    <input type="number" class="form-control" min="0" step="1" value="0" id="alatop2">
                                </div>
                                <div class="input-group mb-3 alatopping3">
                                    <label class="input-group-text" for="alatop3">Fudge Syrup</label>
                                    <input type="number" class="form-control" min="0" step="1" value="0" id="alatop3">
                                </div>
                                <div class="input-group mb-3 alatopping4">
                                    <label class="input-group-text" for="alatop4">Caramel Syrup</label>
                                    <input type="number" class="form-control" min="0" step="1" value="0" id="alatop4">
                                </div>
                                <div class="input-group mb-3 alatopping5">
                                    <label class="input-group-text" for="alatop5">Waffle Bit</label>
                                    <input type="number" class="form-control" min="0" step="1" value="0" id="alatop5">
                                </div>
                                <div class="input-group mb-3 alatopping6">
                                    <label class="input-group-text" for="alatop6">Waffle Cone</label>
                                    <input type="number" class="form-control" min="0" step="1" value="0" id="alatop6">
                                </div>
                                <div class="input-group mb-3 alatopping7">
                                    <label class="input-group-text" for="alatop7">Whipped Topping</label>
                                    <input type="number" class="form-control" min="0" step="1" value="0" id="alatop7">
                                </div>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--Extra Topping Cream 추가 칸-->
    <div class="offcanvas offcanvas-start" tabindex="-1" id="topAdd" aria-labelledby="topLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="topLabel">Extra Topping</h5>
          <h6 class="offcanvas-price">¥price</h6><!--가격 표시 : ¥기본 가격(extra topping*3)-->
          <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <!--기본 메뉴-->
            <div class="alatop">
                <div class="input-group mb-3 alatopping1">
                    <label class="input-group-text" for="alatop1">Oreos</label>
                    <input type="number" class="form-control" min="0" step="1" value="0" id="alatop1">
                </div>
                <div class="input-group mb-3 alatopping2">
                    <label class="input-group-text" for="alatop2">Sprinkle</label>
                    <input type="number" class="form-control" min="0" step="1" value="0" id="alatop2">
                </div>
                <div class="input-group mb-3 alatopping3">
                    <label class="input-group-text" for="alatop3">Fudge Syrup</label>
                    <input type="number" class="form-control" min="0" step="1" value="0" id="alatop3">
                </div>
                <div class="input-group mb-3 alatopping4">
                    <label class="input-group-text" for="alatop4">Caramel Syrup</label>
                    <input type="number" class="form-control" min="0" step="1" value="0" id="alatop4">
                </div>
                <div class="input-group mb-3 alatopping5">
                    <label class="input-group-text" for="alatop5">Waffle Bit</label>
                    <input type="number" class="form-control" min="0" step="1" value="0" id="alatop5">
                </div>
                <div class="input-group mb-3 alatopping6">
                    <label class="input-group-text" for="alatop6">Waffle Cone</label>
                    <input type="number" class="form-control" min="0" step="1" value="0" id="alatop6">
                </div>
                <div class="input-group mb-3 alatopping7">
                    <label class="input-group-text" for="alatop7">Whipped Topping</label>
                    <input type="number" class="form-control" min="0" step="1" value="0" id="alatop7">
                </div>
            </div>
            <!--클릭 시 cartcard에 형식(이름, 구성, 각 구성의 수량, 가격) 맞춰서 추가-->
            <button class="btn btn-info addcart" type="button">Add to Cart</button>
        </div>
    </div>

    <!--water 추가 칸-->
    <div class="offcanvas offcanvas-start" tabindex="-1" id="waterAdd" aria-labelledby="waterLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="waterLabel">Water</h5>
          <h6 class="offcanvas-price">¥price</h6><!--가격 표시 : ¥기본 가격(water*2)-->
          <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <!--기본 메뉴-->
            <div class="alawater">
                <div class="input-group mb-3 alawater1">
                    <label class="input-group-text" for="alaw1">Quantity</label>
                    <input type="number" class="form-control" min="1" step="1" value="1" id="alaw1">
                </div>
            </div>
            <!--클릭 시 cartcard에 형식(이름, 구성, 각 구성의 수량, 가격) 맞춰서 추가-->
            <button class="btn btn-info addcart" type="button">Add to Cart</button>
        </div>
    </div>

    <!--coffee 추가 칸-->
    <div class="offcanvas offcanvas-start" tabindex="-1" id="coffeeAdd" aria-labelledby="coffeeLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="coffeeLabel">Coffee</h5>
          <h6 class="offcanvas-price">¥price</h6><!--가격 표시 : ¥기본 가격(coffee*8)-->
          <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <!--기본 메뉴-->
            <div class="alacoffee">
                <div class="input-group mb-3 alacoffee1">
                    <label class="input-group-text" for="alac1">Hot Coffee</label>
                    <input type="number" class="form-control" min="0" step="1" value="0" id="alac1">
                </div>
                <div class="input-group mb-3 alacoffee2">
                    <label class="input-group-text" for="alac2">Iced Coffee</label>
                    <input type="number" class="form-control" min="0" step="1" value="0" id="alac2">
                </div>
            </div>
            <!--클릭 시 cartcard에 형식(이름, 구성, 각 구성의 수량, 가격) 맞춰서 추가-->
            <button class="btn btn-info addcart" type="button">Add to Cart</button>
        </div>
    </div>
</main>