/*.addcart{
    position:absolute;
    bottom:10px;
    height:50px;
    left:15px;
    right:15px;
}
.modal-total{
    position:absolute;
    left:20px;
    text-align:left;
    font-family: 'PyeongChangPeace-Bold';
}
.modal-totalPrice{
    position:absolute;
    left:70px;
    text-align:left;
    font-family: 'PyeongChangPeace-Bold';
}

.modal-footer{
    background-color: pink !important;
}
.card-body > .card{
    margin-bottom:10px;
}*/
@media (max-width:600px){
    .name{
        display: none;
    }
}

.cartcard{
    display: flex;
    font-family: 'KCC-Hanbit';
}
.ordered > .card-header, .completed > .card-header, .received > .card-header{
    background-color:mistyrose !important;
}
.ordered > .card-body, .received > .card-body{
    background-color:cornsilk;
}
.cartcard > .card-header{
    font-family: 'TTHakgyoansimTtwimteulR';
    background-color: aquamarine;
}
.cartcard > .card-header > .btn-close{
    position:absolute;
    right:10px;
}
.cartcard > .card-header > .card-total{
    position:absolute;
    top:8px;
    right:40px;
    text-align:right;
    font-family: 'PyeongChangPeace-Bold';
}
.cartcard > .card-body{
    background-color:mintcream
}
.cartcard > .card-body > .card-price{
    font-family: 'PyeongChangPeace-Bold';
}
.numin{
    position:absolute;
    margin-bottom:0px;
}
.numin > .input-group-text{
    background-color: turquoise;
}
.numin > input{
    background-color: whitesmoke;
}

main{
    justify-content:center;
}
.card{
    width: 100%;
}
.ordered, .completed, .received{
    margin-top:10px;
    max-width: 900px;
}
@media (max-width:990px){
    .ordered, .completed, .received{
        max-width: 450px !important;
    }
}
.ordered > .card-header{
    height: 50px;
}
.completed > .card-header{
    height: 35px;
}
.received > .card-header{
    height: 40px;
}
.cartcard{
    max-width: 420px;
    margin-bottom:10px;
}
.card-title{
    font-size: 14px;
}
.card-text{
    font-size: 13px;
}
#infoi{
    position: absolute;
    top:5px;
    left:10px;
}
#infop{
    position: absolute;
    top:5px;
    left:80px;
}
#infod{
    position: absolute;
    top:5px;
    left:90px;
}
#infot{
    font-size: 10px;
    position: absolute;
    top:30px;
    left:10px;
}
.completed > .card-header > #infot{
    font-size: 10px;
    position: absolute;
    top:3px;
    left:180px;
}
.received > .card-header > #infot{
    font-size: 10px;
    position: absolute;
    top:3px;
    left:220px;
}
#infot2{
    font-size: 10px;
    position: absolute;
    top:12px;
    left:220px;
}
.completed > .card-header > #infot2{
    font-size: 10px;
    position: absolute;
    top:19px;
    left:180px;
}
#infot3{
    font-size: 10px;
    position: absolute;
    top:22px;
    left:220px;
}
#infopaid{
    position: absolute;
    right:100px;
    top:15px;
    font-size: 12px !important;
}
#infocompleted > .btn, #inforeceived > .btn{
    font-size: 12px !important;
}
#infocompleted{
    position: absolute;
    right:10px;
    top:10px;
}
#inforeceived{
    position: absolute;
    right:10px;
    top:3px;
}
#infodesk{
    position: absolute;
    right:160px;
    top:5px;
}