*{
    margin: 0px;padding:0 px;
}
ul{list-style: none;}
a{text-decoration: none;}
@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&family=Poetsen+One&display=swap');
@font-face {
    font-family: 'SDSamliphopangche_Outline';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts-20-12@1.0/SDSamliphopangche_Outline.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}/*header*/
@font-face {
    font-family: 'Ownglyph_eunbyul21-Rg';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2405-2@1.0/Ownglyph_eunbyul21-Rg.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}/*account*/
@font-face {
    font-family: 'April16th-Life';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2404-2@1.0/April16th-Life.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}/*category*/
@font-face {
    font-family: 'KCC-Hanbit';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2403-2@1.0/KCC-Hanbit.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}/*nav*/
@font-face {
    font-family: 'TTHakgyoansimTtwimteulR';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2402_keris@1.0/TTHakgyoansimTtwimteulR.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}/*card title*/
@font-face {
    font-family: 'PyeongChangPeace-Bold';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/PyeongChangPeace-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}/*price*/

/*header*/
header{
    height: 60px;
    background-color: bisque;
    display: flex;
    align-items: center;
    border-bottom: 3px solid brown;
    
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    z-index:1;
    font-family: 'SDSamliphopangche_Outline';
}

/*header*/
#logo{
    margin-left:5px;
}
.name{
    color:chocolate;
    font-size: 18px;
    font-weight:bold;
    margin-left:10px;
}

@media (max-width:380px){
    .name{
        display: none;
    }
}
nav{
    font-size: 12px;
    display: flex;
    margin-left: auto;
    margin-right: 2%;
    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
    font-style: normal;
}
nav li{
    display: inline;
    margin-left: 2px;
}
/*.nav-pills > */.nav-item > .nav-link{
    color:brown !important;
}
/*.nav-pills > */.nav-item > .active{
    color: white !important;
    background-color: brown !important;
}
#event > .dropdown-menu,
#account > .dropdown-menu{
    background-color: blanchedalmond !important;
}
#event > .dropdown-item,
#account > .dropdown-item{
    color:brown !important;
}

:root {
    --bs-primary: brown;
}

.bg-primary {
    background-color: var(--bs-primary) !important;
}

.nav-item.dropdown .dropdown-item:active {
    background-color: brown !important;
    color: white !important;
}

/*language, cart button*/
#floating-button{
    z-index:1;
    font-family: 'KCC-Hanbit';
}
#cartButton > .btn-info{
    position: fixed;
    bottom:3%;
    right:5%;
}
#langButton{
    position: fixed;
    top:65px;
    right:5%;
}
#langButton .btn-secondary{
    font-size: 13px;
    padding: 10px;
}

footer{
    height: 60px;
    display: flex;
    align-items: center;
}

main{
    position:absolute;
    display:flex;
    top:60px;
    left:3%;
    right:3%;
    font-family: 'KCC-Hanbit';
}
body{
    background-color:ivory !important;
    align-items: center;
}

/*main page*/
.poster{
    display: flex;
    position:relative;
    margin-top: 50px;
}

/*menu page*/
.row>*{
    padding-right:0px !important;
}
.combocard{
    position:absolute;
    margin-bottom: 10px;
}
.alacard{
    position:absolute;
    height:50px !important;
    margin-bottom: 10px;
}
.combocard > .card-header{
    font-size: 9px;
    font-family: 'TTHakgyoansimTtwimteulR';
    background-color: yellowgreen !important;
}
.combocard-title{
    font-size: 6px;
    position:absolute;
    top:35px;
}
.combocard-title > h6{
    font-size: 10px !important;
}
.alacard-title > h6{
    font-family: 'TTHakgyoansimTtwimteulR';
    font-size:8px !important;
    position:absolute;
    top:10px;
}
.combocard-text{
    font-size:8px;
    position:absolute;
    top:7px;
    right:5%;
    font-family: 'PyeongChangPeace-Bold';
}
.alacard-text{
    font-size:8px;
    position:absolute;
    top:25px;
    font-family: 'PyeongChangPeace-Bold';
}
.combocard > .card-body > .btn-primary,
.alacard > .card-body > .btn-primary{
    background-color: orange!important;
    border-color:yellow !important;
    position: absolute;
    right:5%;
    bottom:5%;
}
.btnala{
    bottom:15%;
}
.menucards{
    position:absolute;
    display: flex;
    height: 100%;
    width: 100%;
}
.category{
    margin-top: 10px;
    margin-bottom: 10px;
    color:white;
    text-align: center;
    background-color: skyblue;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    font-family: 'April16th-Life';
    font-size: 20px;
}
.row.row-cols-2{
    margin-right: 3px;
}

/*adding menu page*/
.offcanvas-header{
    position:static;
    background-color: chocolate;
    font-family: 'TTHakgyoansimTtwimteulR';
}
.offcanvas-price{
    position: absolute;
    top: 20px;
    right:50px;
    font-family: 'PyeongChangPeace-Bold';
}
.offcanvas{
    background-color: rgb(246, 204, 19) !important;
}
.offcanvas-body{
    margin-bottom: 60px;
}
.comboala{
    background-color:goldenrod;
    padding:10px;
    border-radius: 5px;
}
/*.flavor > .btn-outline-primary,
.topping > .btn-outline-primary {
    background-color:blanchedalmond !important;
    border-color: black !important;
    color: black !important;
}

.flavor > .btn-check:active+.btn-outline-primary, 
.flavor > .btn-check:checked+.btn-outline-primary, 
.flavor > .btn-outline-primary.active, 
.flavor > .btn-outline-primary.dropdown-toggle.show, 
.flavor > .btn-outline-primary:active,
.topping > .btn-check:active+.btn-outline-primary, 
.topping > .btn-check:checked+.btn-outline-primary, 
.topping > .btn-outline-primary.active, 
.topping > .btn-outline-primary.dropdown-toggle.show, 
.topping > .btn-outline-primary:active {
    color: white !important;
    background-color:cadetblue !important;
}*/

/*cart*/
.addcart{
    position:absolute;
    bottom:10px;
    height:50px;
    left:15px;
    right:15px;
}
.cartcard{
    display: flex;
    margin-top:3%;
    font-family: 'KCC-Hanbit';
}
.cartcard > .card-header{
    font-family: 'TTHakgyoansimTtwimteulR';
    background-color: aquamarine;
}
.cartcard > .card-header > .btn-close{
    position:absolute;
    right:10px;
}
.cartcard > .card-header > .card-total{
    position:absolute;
    top:8px;
    right:40px;
    text-align:right;
    font-family: 'PyeongChangPeace-Bold';
}
.cartcard > .card-body{
    background-color:mintcream
}
.cartcard > .card-body > .card-price{
    font-family: 'PyeongChangPeace-Bold';
}
.numin{
    position:absolute;
    margin-bottom:0px;
}
.numin > .input-group-text{
    background-color: turquoise;
}
.numin > input{
    background-color: whitesmoke;
}
.modal-total{
    position:absolute;
    left:20px;
    text-align:left;
    font-family: 'PyeongChangPeace-Bold';
}
.modal-totalPrice{
    position:absolute;
    left:70px;
    text-align:left;
    font-family: 'PyeongChangPeace-Bold';
}
.modal-header{
    background-color: peru;
    font-family: 'TTHakgyoansimTtwimteulR';
}
.modal-body{
    background-color:antiquewhite;
}
.modal-footer{
    background-color: pink !important;
}
.card-body > .card{
    margin-bottom:10px;
}

/*login*/
#signin{
    display: flex;
    width: 94%;
    align-self: center;
    font-family: 'Ownglyph_eunbyul21-Rg';
}
#logintable {
    width: 250px;
    height: 250px;
    margin: auto;
    font-size: 15px;
}
#logintext > input[type="text"], #loginpassword > input[type="password"] {
    width: 250px;
    height: 32px;
    font-size: 15px;
    border: 0;
    border-radius: 15px;
    outline: none;
    padding-left: 10px;
    background-color: rgb(233,233,233);
}
#loginsubmit > .btn {
    width: 250px;
    height: 32px;
    font-size: 15px;
    border: 0;
    border-radius: 15px;
    outline: none;
    padding-left: 10px;
    background-color: rgb(164, 199, 255);
}
#loginsubmit > .btn:active {
    width: 263px;
    height: 32px;
    font-size: 15px;
    border: 0;
    border-radius: 15px;
    outline: none;
    padding-left: 10px;
    background-color: rgb(61, 135, 255);
}
.join > a {
    font-size: 12px;
    color: darkgray;
    text-decoration-line: none;
   
}
.join {
    text-align: center;
}

/*join*/
#signup{
    display: flex;
    width: 94%;
    align-self: center;
    font-family: 'Ownglyph_eunbyul21-Rg';
    margin-top:10px;
}
#jointable {
    width: 250px;
    height: 250px;
    margin: auto;
    font-size: 15px;
}
.text {
    width: 250px;
    height: 32px;
    font-size: 15px;
    border: 0;
    border-radius: 15px;
    outline: none;
    padding-left: 10px;
    background-color: rgb(233,233,233);
}
#joinsubmit > .btn {
    margin-top:10px;
    width: 250px;
    height: 32px;
    font-size: 15px;
    border: 0;
    border-radius: 15px;
    outline: none;
    padding-left: 10px;
    background-color: rgb(164, 199, 255);
}
#joinsubmit > .btn:active {
    width: 262px;
    height: 32px;
    font-size: 15px;
    border: 0;
    border-radius: 15px;
    outline: none;
    padding-left: 10px;
    background-color: rgb(61, 135, 255);
}